*

!.gitignore
!.xprofile
!.zprofile

!bin/
!bin/*
bin/exercism

!.config/
!.config/alacritty/
!.config/alacritty/*
!.config/awesome/
!.config/awesome/rc.lua
!.config/awesome/theme.lua
!.config/fastfetch/
!.config/fastfetch/config.jsonc
!.config/hypr/
!.config/hypr/*
!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/lua/
!.config/nvim/lua/core
!.config/nvim/lua/core/*
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/*
!.config/shell/
!.config/shell/*
!.config/waybar/
!.config/waybar/config.jsonc
!.config/waybar/default-modules.json
!.config/waybar/style.css
!.config/wireplumber/
!.config/wireplumber/wireplumber.conf.d/
!.config/wireplumber/wireplumber.conf.d/*
!.config/zathura/
!.config/zathura/zathurarc
!.config/zsh/
!.config/zsh/.zshrc
