@define-color background		#031012;
@define-color red				#b0223c;
@define-color red_bright		#c57277;
@define-color green				#2c6d37;
@define-color green_bright		#78a65a;
@define-color yellow			#b35a21;
@define-color yellow_bright		#c58b5f;
@define-color magenta			#b03881;
@define-color magenta_bright	#c7849d;
@define-color cyan				#48629c;
@define-color cyan_bright		#93b2bb;
@define-color white				#cbd4c1;
@define-color white_bright		#ffffff;

* {
	border: none;
	border-radius: 0;
    font-family: "BitstromWera Nerd Font";
    font-size: 14px;
	min-height: 0;
}

window#waybar {
	background-color: transparent;
    color: @white;
    transition-property: background-color;
    transition-duration: .5s;
}

/* window#waybar.hidden { */
/*     opacity: 0.2; */
/* } */

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
	text-shadow: 0 1px @white;
}

/* WORKSPACES */
#workspaces {
	background: alpha(@background, 0.6);
	transition: none;
	padding: 2px 2px;
	border-radius: 6px;
}

#workspaces button {
	padding: 4px 4px;
    color: @white;
	margin: 2px;
	border: 2px solid transparent;
	border-radius: 6px;
}

#workspaces.screen1 button {
	background-color: alpha(@green, 0.5);
}

#workspaces.screen2 button {
	background-color: alpha(@cyan, 0.5);
}

#workspaces button.empty {
    padding: 0 5px;
    background-color: transparent;
    color: @white;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
	border: 2px solid @white;
	border-radius: 6px;
}

#workspaces.screen1 button.active:not(.empty) {
	background-color: alpha(@green, 0.9);
}

#workspaces.screen2 button.active:not(.empty) {
	background-color: alpha(@cyan, 0.9);
}

#workspaces button.urgent {
    background-color: alpha(@red_bright, 0.9);
	animation-name: blink;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    animation-iteration-count: 18;
    animation-direction: alternate;
}

/* #clock, */
/* #cpu, */
/* #memory, */
/* #network, */
/* #wireplumber, */
/* #custom-power, */
/* #tray { */
/*     padding: 0 6px; */
/* } */

/* #window, */
/* #workspaces { */
/*     margin: 0 4px; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*     margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces { */
/*     margin-right: 0; */
/* } */

/* #clock { */
/*     background-color: #64727D; */
/* } */

@keyframes blink {
    to {
        background-color: @white;
        color: @background;
    }
}

/* label:focus { */
/*     background-color: #000000; */
/* } */

/* #cpu { */
/*     background-color: #2ecc71; */
/*     color: #000000; */
/* } */

/* #memory { */
/*     background-color: #9b59b6; */
/* } */

/* #wireplumber { */
/*     background-color: #fff0f5; */
/*     color: #000000; */
/* } */

/* #wireplumber.muted { */
/*     background-color: #f53c3c; */
/* } */

/* #tray { */
/*     background-color: #2980b9; */
/* } */

/* #tray > .passive { */
/*     -gtk-icon-effect: dim; */
/* } */

/* #tray > .needs-attention { */
/*     -gtk-icon-effect: highlight; */
/*     background-color: #eb4d4b; */
/* } */

/* #language { */
/*     background: #00b093; */
/*     color: #740864; */
/*     padding: 0 5px; */
/*     margin: 0 5px; */
/*     min-width: 16px; */
/* } */
